.control-panel {
  width: 35%;
  display: inline-block;
  vertical-align: top;
  h4 {
    margin: 0;
    margin-bottom: 10px;
  }
  .control-panel-content {
    background: #cfeaf2;
    padding: 10px;
    >div {
      padding-bottom: 10px;
    }
  }
  .panel {
    background-color: #cfeaf26e;
    padding: 10px;
  }
}
